# Build outputs
*.o
*.ls
*.elf
*.map
*.s19
*.sm8

# STVD workspace / IDE junk
*.wdb
*.wed

# Build directories
Debug/
Release/

*.ls
*.dep
*.lkf
*.spy
*.stw
*.pdb
*.asm
*.html
*.txt
*.eww
*.ewp
*.ewd
*.rapp
*.rprj
*.pdf
*.chm